Questões de diferentes perspectivas podem surgir como:


- A quantidade de empréstimos está aumentando ou diminuindo ao decorrer dos últimos anos?
- Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?
- Quais são os temas mais emprestados? E os menos?

## Importando os dados

In [1]:
import pandas as pd

In [ ]:
emprestimos_2010_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20101.csv')
emprestimos_2010_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20102.csv')
emprestimos_2011_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20111.csv')
emprestimos_2011_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20112.csv')
emprestimos_2012_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20121.csv')
emprestimos_2012_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20122.csv')
emprestimos_2013_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20131.csv')
emprestimos_2013_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20132.csv')
emprestimos_2014_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20141.csv')
emprestimos_2014_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20142.csv')
emprestimos_2015_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20151.csv')
emprestimos_2015_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20152.csv')
emprestimos_2016_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20161.csv')
emprestimos_2016_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20162.csv')
emprestimos_2017_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20171.csv')
emprestimos_2017_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20172.csv')
emprestimos_2018_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20181.csv')
emprestimos_2018_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20182.csv')
emprestimos_2019_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20191.csv')
emprestimos_2019_2 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20192.csv')
emprestimos_2020_1 = pd.read_csv('Datasets\dados_emprestimos\emprestimos-20201.csv')

In [3]:
emprestimos_2010_1.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

Juntando todos os dados de empréstimos em uma único Data Frame visto que todas as colunas tem o mesmo rótulo

In [4]:
df_emprestimos = pd.concat([emprestimos_2010_1, emprestimos_2010_2, emprestimos_2011_1, emprestimos_2011_2, emprestimos_2012_1, emprestimos_2012_2, emprestimos_2013_1, emprestimos_2013_2, emprestimos_2014_1, emprestimos_2014_2, emprestimos_2015_1, emprestimos_2015_2, emprestimos_2016_1, emprestimos_2016_2, emprestimos_2017_1, emprestimos_2017_2, emprestimos_2018_1, emprestimos_2018_2, emprestimos_2019_1, emprestimos_2019_2, emprestimos_2020_1])

## Verificando dados duplicados

In [5]:
df_emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
2461099        2012008348     2016/06/27 20:35:46.855000000  2016/06/14 11:20:33.254000000  2016/07/11 14:37:29.000000000  2.015022e+09        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
1443393        2012037906     2013/03/20 20:17:10.574000000  2013/03/07 11:24:19.326000000  2013/03/25 08:58:44.000000000  2.011038e+09        ALUNO DE GRADUAÇÃO        1
1443395        2011033069     2013/04/07 01:06:51.679000000  2013/03/07 11:25:22.661000000  2013/05/07 16:19:34.000000000  2.011106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [6]:
df_emprestimos.drop_duplicates(inplace=True)

Verificando se ainda existem ocorrência de dados duplicados

In [7]:
df_emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    1
2336122        2011033079     2016/11/21 02:01:58.488000000  2016/11/10 17:00:12.989000000  2016/12/02 14:21:49.000000000  2.016023e+09        ALUNO DE GRADUAÇÃO        1
2336103        2014085936     2016/11/25 19:25:36.215000000  2016/11/10 16:54:52.447000000  2016/12/13 14:30:52.000000000  2.014047e+09        ALUNO DE GRADUAÇÃO        1
2336104        2011027960     2016/11/23 17:27:54.642000000  2016/11/10 16:55:17.956000000  2016/11/28 10:32:38.000000000  2.016083e+09        ALUNO DE GRADUAÇÃO        1
2336105        2014000897     2016/12/02 15:02:53.356000000  2016/11/10 16:55:19.851000000  2016/12/23 13:53:23.000000000  2.014071e+09        ALUNO DE GRADUAÇÃO        1
                                                                                                                                                                        ..
1443383        2010043058     2013/03/21 14:06:09.837000000  2013/03/07 11:17:25.008000000  2013/03/22 11:31:20.000000000  2.010023e+09        ALUNO DE GRADUAÇÃO        1
1443387        L147018        2013/03/21 19:43:42.047000000  2013/03/07 11:20:01.159000000  2013/04/04 10:50:22.000000000  2.013053e+09        ALUNO DE GRADUAÇÃO        1
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [8]:
df_exemplares = pd.read_parquet('Datasets\dados_exemplares.parquet', engine='pyarrow')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Felipe\AppData\Local\Temp\ipykernel_15220\987871492.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_exemplares = pd.read_parquet('Datasets\dados_exemplares.parquet', engine='pyarrow')

In [9]:
df_exemplares.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [10]:
df_emprestimos['data_renovacao'] = pd.to_datetime(df_emprestimos['data_renovacao'])
df_emprestimos['data_emprestimo'] = pd.to_datetime(df_emprestimos['data_emprestimo'])
df_emprestimos['data_devolucao'] = pd.to_datetime(df_emprestimos['data_devolucao'])

In [11]:
df_emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2257981 entries, 0 to 26560
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        datetime64[ns]
 3   data_emprestimo       datetime64[ns]
 4   data_devolucao        datetime64[ns]
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: datetime64[ns](3), float64(1), int64(1), object(2)
memory usage: 137.8+ MB

In [12]:
df_exemplares.info()

<class 'pandas.core.frame.DataFrame'>
Index: 546237 entries, 0 to 568584
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_exemplar       546237 non-null  int64
 1   codigo_barras     546237 non-null  object
 2   colecao           546237 non-null  object
 3   biblioteca        546237 non-null  object
 4   status_material   546237 non-null  object
 5   localizacao       546237 non-null  int64
 6   registro_sistema  546237 non-null  int64
dtypes: int64(3), object(4)
memory usage: 33.3+ MB

## Mesclando os data frames

In [13]:
df_merged = pd.merge(df_emprestimos, df_exemplares, how='inner', on='codigo_barras')

In [14]:
df_merged.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010-01-26 08:07:01.738,2010-01-04 08:08:44.081,2010-02-25 07:36:25.800,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010-01-18 11:07:46.470,2010-01-04 08:24:21.284,2010-02-03 08:58:45.692,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709688,2007027500,2010-01-19 15:59:26.464,2010-01-04 08:27:33.569,2010-02-03 13:06:30.662,2.009046e+09,ALUNO DE GRADUAÇÃO,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,91736

### **Quais os temas mais e menos procurados?**

In [15]:
df_merged['colecao'].value_counts()

colecao
Acervo Circulante                        2053120
Multimeios                                  7954
Monografias                                 4021
Dissertações                                2406
Obras de Referência                         1954
Publicações de Autores do RN                 866
Publicações da UFRN                          764
Teses                                        714
Folhetos                                     271
Necessidades Educacionais Específicas        130
Trabalho Acadêmico                           115
Eventos                                      101
Coleção Mossoroense                           44
Coleção Zila Mamede                           30
Literatura de Cordel                          24
Obras Raras                                    8
Name: count, dtype: int64

### **Em quais bibliotecas do sistema estão a maior quantidade de empréstimos?**

In [16]:
df_merged['biblioteca'].value_counts()

biblioteca
Biblioteca Central Zila Mamede                                                              1426122
Biblioteca Setorial do Centro Ciências da Saúde - CCS                                        118614
Biblioteca Setorial da Faculdade de Ciências da Saúde do Trairi - FACISA - Santa Cruz         77609
Biblioteca Setorial Prof. Alberto Moreira Campos - ­Departamento de Odontologia               66447
Biblioteca Setorial Profª. Maria Lúcia da Costa Bezerra - ­CERES­ - Caicó                     61478
Biblioteca Setorial Bertha Cruz Enders - ­Escola de Saúde da UFRN - ESUFRN                    46040
Biblioteca Setorial do Centro de Ciências Humanas, Letras e Artes - CCHLA                     40744
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN - Caicó                                       32097
Biblioteca Setorial Profª. Maria José Mamede Galvão - FELCS - Currais Novos                   29089
Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ  - Macaiba      27219
Biblioteca Setorial Prof. Francisco Gurgel De Azevedo - Instituto Química - IQ                26923
Biblioteca Setorial do Núcleo de Educação da Infância - NEI                                   23656
Biblioteca Setorial Prof. Ronaldo Xavier de Arruda - CCET                                     22749
Biblioteca Setorial Pe. Jaime Diniz - Escola de Música - EMUFRN                               21476
Biblioteca Setorial do Departamento de Artes - DEART                                          17099
Biblioteca Setorial Prof. Leopoldo Nelson - ­Centro de Biociências - CB                       12900
Biblioteca Setorial do Centro Ciências Sociais Aplicadas - CCSA                               10533
Biblioteca Setorial Prof. Dr. Marcelo Bezerra de Melo Tinôco - DARQ - ­CT                      5057
Biblioteca Setorial Prof. Horácio Nicolas Solimo - ­ Engenharia Química - EQ - CT              4098
Biblioteca Setorial Moacyr de Góes - CE                                                        1036
Biblioteca Setorial Árvore do Conhecimento - Instituto do Cérebro - ICe                         919
Biblioteca Setorial do Núcleo de Ensino Superior do Agreste - NESA - Nova Cruz                  617
Name: count, dtype: int64

### **A quantidade de empréstimos está aumentando ou diminuindo ao decorrer dos últimos anos?**

In [17]:
# Cria uma nova coluna chamada ano extraindo apenas o ano da data de emprestimo
df_merged['ano'] = df_merged['data_emprestimo'].dt.year

In [18]:
# Conta a quantidade de vezes que cada valor de ano aparece no df e exibindo na ordem cornológica através do sort.index()
df_merged['ano'].value_counts().sort_index()

ano
2010    161394
2011    196390
2012    221365
2013    234749
2014    219189
2015    213582
2016    215900
2017    218462
2018    194080
2019    171801
2020     25610
Name: count, dtype: int64

Através dos dados acima podemos perceber que houve um aumento na quantidade de empréstimos de 2010 a 2013, depois teve uma oscilação entre 2014 e 2017 e por fim uma queda entre 2018 e 2020, tendo tem 2020 uma queda brusca na quantidaade de empréstimos de livros.
Essa queda brusca pode ser motivada pela maior procura de conteúdos online.

### **Quais são os tipos de usuários que mais utilizam os livros das bibliotecas?**

In [19]:
df_merged['tipo_vinculo_usuario'].value_counts()

tipo_vinculo_usuario
ALUNO DE GRADUAÇÃO                 1612324
ALUNO DE PÓS-GRADUAÇÃO              302541
DOCENTE                              70981
SERVIDOR TÉCNICO-ADMINISTRATIVO      32184
ALUNO MÉDIO/TÉCNICO                  28029
DOCENTE EXTERNO                      23949
USUÁRIO EXTERNO                       2509
OUTROS                                   5
Name: count, dtype: int64